@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-prakida-bg text-prakida-text font-sans overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display uppercase tracking-wider;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-prakida-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full hover:bg-prakida-water transition-colors;
}